@import url(reset.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root {
    --clr-text: #454545;
    --clr-logo: #21a2b5;
    --clr-divider: #34b1c4;
    --clr-start-btn: #008cba;
    --clr-subsc-btn: #6bbfff;
    --clr-foot: #126290;
    --clr-service: #eef0f1;
    --clr-search: #393f43;
    --clr-foot: #2f3539;
    --clr-foot-dark: #262b2f;
    --clr-foot-text: #0c718c;
    --clr-white: #fff;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--clr-text);
    background-color: var(--clr-white);
}

.divider {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.btn {
    padding: 3px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 16px;
    font-size: 14px;
    text-align: center;
    color: var(--clr-white);
    background-color: var(--clr-text);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn:hover {
    color: var(--clr-text);
    background-color: var(--clr-white);
}

/* Header */

.header {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    padding: 0.5rem 6rem;
    background-color: var(--clr-white);
}

.logo {
    font-size: 22px;
}

.logo-color {
    color: var(--clr-logo);
}

.header .nav {
    display: flex;
    gap: 2px;
}

.header .nav .nav-item {
    padding: 0.5rem 1rem;
    color: var(--clr-text);
}

.header .nav .nav-item .nav-link {
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 1.1px;
    color: inherit;
}

.header .hl {
    border-bottom: 3px solid var(--clr-divider);
}

/* Hero section */

#hero {
    height: 100vh;
    position: relative;
}

.hero-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

#hero .content {
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgba(7, 7, 7, 0.559);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding-left: 16rem;
    color: var(--clr-white);
}

.content .sub-title {
    margin-bottom: 8px;
}

#hero .btn {
    background-color: var(--clr-start-btn);
}

#hero .btn:hover {
    color: var(--clr-start-btn);
    background-color: var(--clr-white);
}

/* Welcome section */

#welcome {
    padding: 2rem 6rem;
    text-align: center;
}

#welcome .title {
    font-weight: 300;
}

#welcome .divider {
    background-color: var(--clr-divider);
    border: 1px solid var(--clr-divider);
}

#welcome .desc {
    margin-bottom: 30px;
}

/* Service section */

#services {
    padding: 2rem 6rem;
    background-color: var(--clr-service);
}

#services .title {
    text-align: center;
    font-weight: 300;
}

#services .divider {
    background-color: var(--clr-text);
    border: 1px solid var(--clr-text);
}

.service {
    display: flex;
    gap: 20px;
    background-color: var(--clr-white);
}

.service .card {
    border-radius: 10px;
    flex-basis: 33.333333%;
    overflow: hidden;
}

.service .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.service .service__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#services .content {
    text-align: center;
}

#services .content .title {
    margin-bottom: 8px;
}

#services .content .desc {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
}

#services .btn {
    border-radius: 5px;
}

/* Search section */

#search .content {
    padding: 1.5rem 0;
    text-align: center;
    color: var(--clr-white);
    background-color: var(--clr-search);
}

#search .divider {
    background-color: var(--clr-white);
    border: 1px solid var(--clr-white);
}

#search .desc {
    margin-bottom: 20px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input[type=text] {
    padding: 3px 12px;
    width: 350px;
    border: none;
    border-radius: 3px;
    background-color: var(--clr-text);
}

input[type=submit] {
    padding: 3px 12px;
    width: 130px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    color: var(--clr-white);
    background-color: var(--clr-subsc-btn);
    text-transform: uppercase;
    cursor: pointer;
}