@import url(reset.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap');

/* Resolution 1536 x 502 */

:root {
    --clr-primary: #d01919;
    --clr-white: #fff;
    --clr-grey: #efefef;
    --clr-grey-text: #b3b3c1;
    --clr-text: #262b2f;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: var(--clr-text);
}

.divider {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
}

/* Header */

.header {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    padding: 0.5rem 4rem;
    color: var(--clr-white);
    background-color: var(--clr-primary);
}

.mobile,
.adress {
    display: flex;
    align-items: center;
}

.fa-regular,
.fa-solid {
    margin-right: 5px;
}

.icons a {
    color: var(--clr-white);
    margin-right: 5px;
}

/* Hero section */

#hero {
    height: 100vh;
    position: relative;
}

.hero-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

#hero .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    padding-right: 30px;
}

#hero .nav .nav-item {
    padding: 1rem 1rem;
    color: var(--clr-white);
}

#hero .nav .nav-item .nav-link {
    text-decoration: none;
    font-size: 17px;
    line-height: 1;
    letter-spacing: 1.1px;
    color: inherit;
}

#hero .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--clr-white);
}

#hero .content .title {
    font-size: 42px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#hero .content .desc {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
}

.btn {
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--clr-white);
    background-color: var(--clr-primary);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn:hover {
    color: var(--clr-primary);
    background-color: var(--clr-white);
}

/* Welcome and Coaches section */

#welcome,
#coaches {
    padding: 1rem 6rem;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.welcome,
.coaches {
    display: flex;
    gap: 50px;
}

.card {
    border-radius: 10px;
    flex-basis: 33.333333%;
    overflow: hidden;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.welcome .welcome-img {
    max-height: 100%;
    max-width: 100%;
    width: 16%;
    object-fit: cover;
}

#welcome .content,
#coaches .content {
    text-align: center;
}

#welcome .content .title {
    font-size: 20px;
    margin-bottom: 12px;
    color: var(--clr-primary);
}

#welcome .content .desc {
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 20px;
}

#coaches {
    background-color: var(--clr-grey);
}

#coaches .content {
    padding: 0.5rem 4rem;
}

#coaches .content .title {
    font-size: 20px;
}

#coaches .content .sub-title {
    margin-bottom: 10px;
    color: var(--clr-primary);
}

#coaches .content .desc {
    color: var(--clr-grey-text);
}

.coaches-img {
    border-radius: 5px;
}