@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@import url(reset.css);

:root {
    --clr-purple: #800080;
    --clr-black-text: #1a0000;
    --clr-white: #fff;
    --clr-grey: #ececec;
    --clr-grey-dark: #3f3f3f;
    --clr-grey-text: #5d554e;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--clr-black-text);
}

/* Navigation */

.header {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    padding: 0.5rem 6rem;
}

.header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header .logo .title {
    font-size: 38px;
    line-height: 1;
    color: var(--clr-purple);
}

.header .logo .sub {
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--clr-grey-text);
}

.header .nav {
    display: flex;
    gap: 2px;
}

.header .nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 1.2rem;
    background-color: var(--clr-grey);
}

.header .nav .nav-item .nav-link {
    text-decoration: none;
    line-height: 1;
    letter-spacing: 1.1px;
    color: inherit;
}

/* Sections */

.section--full {
    padding: 4rem 6rem 0;
}

/* Buttons */

.btn {
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid black;
    color: var(--clr-purple);
    background-color: var(--clr-grey);
    cursor: pointer;
}

.btn:hover {
    color: var(--clr-grey);
    background-color: var(--clr-purple);
}

/* Features */

#website {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 4rem 12rem 0;
}

#website .content {
    flex: 1;
}

#website .content .title {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--clr-black-text);
}

#website .content .desc {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
}

#website .icon {
    font-size: 8rem;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}