@import url(reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

:root {
    --clr-white: #fff;
    --clr-primary: #e24e2a;
    --clr-grey: #ececec;
    --clr-grey-dark: #3f3f3f;
    --clr-grey-text: #5d554e;
    --clr-grey-bg: #383838;
    --clr-green: #1b9772;
    --clr-green-text: #3ca17f;
    --clr-green-link: #59b3a4;

    --header-height: 66px;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--clr-grey-dark);
}

/* Navigation */

.header {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header .logo .main {
    font-size: 46px;
    font-weight: bold;
    line-height: 1;
}

.header .logo .divider {
    display: inline-block;
    width: 2px;
    height: 50px;
    background-color: var(--clr-grey-text);
}

.header .logo .sub {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
    color: var(--clr-grey-text);
}

.header .nav {
    display: flex;
    gap: 2px;
}

.header .nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 1.5rem;
    background-color: var(--clr-grey);
}

.header .nav .nav-item.active {
    color: var(--clr-white);
    background-color: var(--clr-primary);
}

.header .nav .nav-item .nav-link {
    text-decoration: none;
    line-height: 1;
    letter-spacing: 1.1px;
    color: inherit;
}

/* Hero */

#hero {
    display: flex;
    flex-direction: column;
    height: calc(100hv - var(--header-height));
    overflow: hidden;
}

#hero .img-container {
    overflow: hidden;
}

#hero .img-container .hero-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#hero .content {
    padding: 4rem;
    background-color: var(--clr-primary);
}

#hero .content .text {
    width: 70%;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.5;
    text-align: center;
    color: var(--clr-grey);
}

#hero .content .text a {
    color: inherit;
}

/* Sections */

.section--full {
    padding: 6rem 4rem;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.section-grid .section-grid-item {
    text-align: center;
}

/* Features */

#features {
    color: var(--clr-white);
    background-color: var(--clr-grey-bg);
}

#features .section-grid-item .icon-container {
    display: inline-block;
    padding: 1.2rem;
    margin-bottom: 0.5rem;
    background-color: var(--clr-primary);
}

#features .section-grid-item .icon-container i {
    font-size: 38px;
}

#features .section-grid-item .title {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

#features .section-grid-item .divider {
    height: 2px;
    background-color: var(--clr-grey-dark);
    margin-bottom: 1rem;
}

#features .section-grid-item .desc {
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--clr-grey-text);
}

/* Subscribe */

#subscribe {
    text-align: center;
    background-color: var(--clr-white);
}

#subscribe .title {
    font-size: 32px;
    font-weight: 300;
}

#subscribe .desc {
    font-size: 18px;
    margin-bottom: 2rem;
    color: var(--clr-grey-text);
}

#subscribe .btn {
    padding: 1rem 2.5rem;
    font-size: 19px;
    letter-spacing: 2px;
    border: none;
    color: var(--clr-white);
    background-color: var(--clr-green);
    cursor: pointer;
}

/* Advantages */

#advantages {
    color: var(--clr-white);
    background-color: var(--clr-grey-bg);
}

#advantages .section-grid-item .title {
    font-weight: 300;
    margin-bottom: 2rem;
}

#advantages .section-grid-item .desc {
    font-size: 16px;
    color: var(--clr-grey-text);
}

/* Footer */

.footer {
    background-color: var(--clr-green);
}

.footer .resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer .resources .resource {
    padding: 0 1rem;
    letter-spacing: 2px;
    color: var(--clr-green-text);
}

.footer .resources .divider {
    height: 20px;
    width: 2px;
    background-color: var(--clr-green-link);
}

.footer .resources .resource a {
    font-size: 17px;
    text-decoration: none;
    color: var(--clr-green-link);
}