@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root {
    --clr-bg: #efefef;
    --clr-white: #fff;
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 2rem 2rem;
}

.fill {
    background-color: var(--clr-bg);
    margin-bottom: 20px;
    overflow: hidden;
}

/* Header */

.hero-img,
.camera-img,
.featured-img {
    max-height: 390px;
    object-fit: cover;
}

.nav-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 30px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.nav-btn i {
    margin-left: 12px;
    font-size: 18px;
}

.info {
    display: flex;
}

.info-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-img,
.content {
    flex-basis: 50%;
    padding: 0 40px;
}

.content .title {
    font-size: 38px;
    font-weight: 100;
    margin-bottom: 20px;
    color: gray;
}

.content .title span {
    font-weight: bold;
    color: black;
}

.content .desc {
    font-size: 16px;
    margin-bottom: 20px;
}

.vl {
    border: none;
    border-left: 2px solid grey;
    height: 60px;
}

/* Photo section */

.hr-line::before {
    content: " ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 0;
    background: grey;
}

.hr-line {
    position: relative;
    margin: 50px auto;
    text-align: center;
}

a {
    color: var(--clr-white);
    background-color: grey;
    padding: 5px 8px;
    margin-right: 15px;
}

#photo .info {
    flex-direction: row-reverse;
}

/* Hero section */

.girl-img {
    max-width: 100%;
    width: 100%;
    height: 550px;
    object-fit: fill;
}
