* {
    box-sizing: border-box;
}

body {
    margin: 60px;
}

.container {
    max-width: 65vw;
    margin: auto;
}

.container span {
    border: 1px solid #000;
    padding: 2.2rem;
}

.container-flex {
    display: flex;
}

.week {
    display: flex;
    flex-wrap: wrap;
}

.container-flex .week .week__item {
    width: 20%;
    align-items: center;
}

.container-flex .week .workweek,
.container-flex .week .weekend {
    width: 100%;
}

.container-flex .week .week__item:nth-child(8),
.container-flex .week .week__item:nth-child(9) {
    width: 50%;
}

span {
    text-align: center;
}

.container-flex .notes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-flex .notes .notes__reminders,
.container-flex .notes .notes__dates {
    height: 50%;
}