@import url(reset.css);
@import url(variables.css);
@import url(hero.css);
@import url(clients.css);
@import url(business.css);

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--clr-bg);
}

.section--narrow {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 24px;
}

.section__title,
.section__desc {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section__title {
    margin-bottom: 16px;
    font-size: 38px;
    color: var(--clr-black);
}

.section__desc {
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--clr-grey);
}

@media screen and (min-width: 1024px) {
    .section--narrow {
        padding: 100px 50px;
    }
    
    .section__title {
        margin-bottom: 30px;
        font-size: 46px;
    }
    
    .section__desc {
        font-size: 20px;
    }
}

/* Buttons */

.btn {
    padding: 15px 30px;
    width: 190px;
    border-radius: 6px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn--primary {
    color: var(--clr-white);
    background-color: var(--clr-primary);
    box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
}